@charset "UTF-8";
/* CSS Document */

/* INPORT WEB FONT  */
@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/* INPORT FONT M+*/
@font-face {
  font-family: mplus-1p-thin;
  src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-thin.ttf") format("truetype"); }



/***************************
	ALL SETTING 
****************************/

body {
  font-size: 16px;
  font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
  color: black; 
  width:100%;
  background-color:#eee;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

h1{ font-size: 32px; }
h2{ font-size: 24px; }
h3{ font-size: 24px; }
h4{ font-size: 18px; }

p {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px; 
}

a {
  color: #000;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; 
}

ul {
  list-style-type: none; }

header {
  max-width: 1600px;
  margin:0 auto;
  overflow: hidden;
}

article{
  max-width: 1600px;
  margin:0 auto;
  overflow: hidden;
}

footer {
  max-width: 1600px;
  margin:0 auto;
  overflow: hidden;
  height: 160px;
  position: bottom;
  background: #fff;
  text-align: center;
  margin-top: 100px;
}

/***************************
	Contents
****************************/
.contentsBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  z-index: 53; }

.contentsHeader {
  height: 270px;
  width: 640px;
  margin-top: -270px;
  background-image: url("../images/btnHeader.png");
  z-index: 55; }

.contentsFooter {
  height: 240px;
  width: 640px;
  background-image: url("../images/btnFooter.png");
  background-position: center;
  z-index: 51; }

/***************************
	aboutMe
****************************/
#aboutMe {
  width: 640px;
  background: #fff; }

#contentsAboutMe {
  width: 640px;
  padding: 120px 30px 120px;
  background-repeat: none;
  margin-bottom: -90px;
  display: none;
  height: 1400px; }
  #contentsAboutMe h2 {
    font-size: 36px;
    margin-bottom: 30px; }
  #contentsAboutMe h3 {
    font-size: 18px;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 5px; }
  #contentsAboutMe p {
    line-height: 28px;
 }

#contentsAboutMeBg {
  margin-top: -90px;
  background-image: url("../images/bgAboutMe.png"); }

/***************************
	skill
****************************/
#skill {
  width: 640px;
  background: #fff; }
  #skill ul {
    margin: 40px 0px; }
  #skill li {
    padding: 0px 0px 20px 90px;
    margin: 0px 10px;
    background-size: 72px 72px;
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  #skill h4 {
    font-size: 32px;
    line-height: 40px; }
  #skill h5 {
    font-size: 18px; }
  #skill .iconSkillPhotoshop {
    background-image: url("../images/iconSkillPhotoshop.png"); }
  #skill .iconSkillIllustrator {
    background-image: url("../images/iconSkillIllustrator.png"); }
  #skill .iconSkillHTML {
    background-image: url("../images/iconSkillHTML.png"); }
  #skill .iconSkillCSS {
    background-image: url("../images/iconSkillCSS.png"); }
  #skill .iconSkillJS {
    background-image: url("../images/iconSkillJS.png"); }
  #skill .iconSkillMaya {
    background-image: url("../images/iconSkillMaya.png"); }
  #skill .iconSkillUnity {
    background-image: url("../images/iconSkillUnity.png"); }
  #skill .iconSkillCocos {
    background-image: url("../images/iconSkillCocos.png"); }

#contentsSkill {
  width: 640px;
  padding: 120px 30px;
  background-repeat: none;
  margin-bottom: -90px;
  display: none;
  height: 1400px; }
  #contentsSkill h2 {
    font-size: 36px;
    margin-bottom: 30px; }
  #contentsSkill h3 {
    font-size: 18px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 5px; }

#contentsSkillBg {
  margin-top: -90px;
  background-image: url("../images/bgSkill.png"); }

/***************************
	Product
****************************/
#product {
  width: 640px;
  background: #fff; }

#contentsProduct {
  width: 640px;
  padding: 120px 30px;
  background-repeat: none;
  margin-bottom: -90px;
  display: none;
  height: 2800px;
  padding: 120px 0px; }
  #contentsProduct h2 {
    font-size: 36px;
    margin-bottom: 30px; }
  #contentsProduct h3 {
    font-size: 18px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 5px; }
  #contentsProduct h2 {
    padding-left: 30px; }
  #contentsProduct p {
    padding-left: 30px; }

#contentsProductBg {
  margin-top: -90px;
  background-image: url("../images/bgProduct.png"); }

#least {
  margin-top: 40px; 
  margin-bottom: 1040px; }



/***************************
  Items
****************************/
.rdstr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fwb { font-weight: bold !important; }

.tal { text-align: left !important; }
.tar { text-align: right !important; }
.tac { text-align: center !important; }
.img_cen { display: block; text-align: center !important; margin:0 auto  !important;}

.bold { font-weight: bold;} 
.u_line { text-decoration: underline; }

.tca { color: #ff0000 !important; }

.dn         { display: none !important; }
.db         { display: block !important; }
.dib        { display: inline-block !important; }
.table      { display: table !important; }
.table_row  { display: table-row !important; }
.table_cell { display: table-cell !important; }

.o0 {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
  -ms-filter: "alpha(opacity=0)" !important;
  -moz-opacity: 0 !important;
  -khtml-opacity: 0 !important;
}

.fl { float: left !important; }
.fr { float: right !important; }

.pr { position: relative !important; }
.pa { position: absolute !important; }

.bn  { border: none !important; }
.btn { border-top: none !important; }
.bbn { border-bottom: none !important; }
.bln { border-left: none !important; }
.brn { border-right: none !important; }

.z1 { z-index: 1 !important; }

.m0    { margin: 0px !important; }
.m5    { margin: 5px !important; }
.m10   { margin: 10px !important; }
.m15   { margin: 15px !important; }
.m20   { margin: 20px !important; }
.ml0   { margin-left: 0px !important; }
.ml5   { margin-left: 5px !important; }
.ml10  { margin-left: 10px !important; }
.ml15  { margin-left: 15px !important; }
.ml20  { margin-left: 20px !important; }
.ml25  { margin-left: 25px !important; }
.ml30  { margin-left: 30px !important; }
.ml35  { margin-left: 35px !important; }
.ml40  { margin-left: 40px !important; }
.ml45  { margin-left: 45px !important; }
.ml50  { margin-left: 50px !important; }
.ml60  { margin-left: 60px !important; }
.ml70  { margin-left: 70px !important; }
.ml80  { margin-left: 80px !important; }
.ml90  { margin-left: 90px !important; }
.ml100 { margin-left: 100px !important; }
.mr0   { margin-right: 0px !important; }
.mr5   { margin-right: 5px !important; }
.mr10  { margin-right: 10px !important; }
.mr15  { margin-right: 15px !important; }
.mr20  { margin-right: 20px !important; }
.mr25  { margin-right: 25px !important; }
.mr30  { margin-right: 30px !important; }
.mr35  { margin-right: 35px !important; }
.mr40  { margin-right: 40px !important; }
.mr45  { margin-right: 45px !important; }
.mr50  { margin-right: 50px !important; }
.mr60  { margin-right: 60px !important; }
.mr70  { margin-right: 70px !important; }
.mr80  { margin-right: 80px !important; }
.mr90  { margin-right: 90px !important; }
.mr100 { margin-right: 100px !important; }
.mt0   { margin-top: 0px !important; }
.mt5   { margin-top: 5px !important; }
.mt10  { margin-top: 10px !important; }
.mt15  { margin-top: 15px !important; }
.mt20  { margin-top: 20px !important; }
.mt25  { margin-top: 25px !important; }
.mt30  { margin-top: 30px !important; }
.mt35  { margin-top: 35px !important; }
.mt40  { margin-top: 40px !important; }
.mt45  { margin-top: 45px !important; }
.mt50  { margin-top: 50px !important; }
.mt60  { margin-top: 60px !important; }
.mt70  { margin-top: 70px !important; }
.mt80  { margin-top: 80px !important; }
.mt90  { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }
.mb0   { margin-bottom: 0px !important; }
.mb5   { margin-bottom: 5px !important; }
.mb10  { margin-bottom: 10px !important; }
.mb15  { margin-bottom: 15px !important; }
.mb20  { margin-bottom: 20px !important; }
.mb25  { margin-bottom: 25px !important; }
.mb30  { margin-bottom: 30px !important; }
.mb35  { margin-bottom: 35px !important; }
.mb40  { margin-bottom: 40px !important; }
.mb45  { margin-bottom: 45px !important; }
.mb50  { margin-bottom: 50px !important; }
.mb60  { margin-bottom: 60px !important; }
.mb70  { margin-bottom: 70px !important; }
.mb80  { margin-bottom: 80px !important; }
.mb90  { margin-bottom: 90px !important; }
.mb100 { margin-bottom: 100px !important; }
.mh0    { margin-left: 0px !important; margin-right: 0px !important; }
.mh5    { margin-left: 5px !important; margin-right: 5px !important; }
.mh10   { margin-left: 10px !important; margin-right: 10px !important; }
.mh15   { margin-left: 15px !important; margin-right: 15px !important; }
.mh20   { margin-left: 20px !important; margin-right: 20px !important; }
.mhauto { margin-left: auto !important; margin-right: auto !important; }


