/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.24col.css");

/* INPORT WEB FONT */
@import url(http://fonts.googleapis.com/css?family=Raleway:100);

/* INPORT FONT M+*/
@font-face{
font-family: mplus-1p-thin;
	src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-thin.ttf')
     format("truetype");
}




/***************************
	SNIPPET
****************************/

/* ベンダープレフィックス 
　　記述例 @include css3(transition, 0.5s);　*/
@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}



/***************************
	ALL SETTING 
****************************/

body {
	font-size: 14px;
	font-family: 'Raleway', mplus-1p-thin, cursive;
	color: black;
}


h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

p {
	font-size: 14px;
	letter-spacing: 1px;
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
	color: #000;
	@include css3(transition, all 1s ease-out);
}

header {
	text-align: left;
	height:100px;
	padding:20px 20px;
	background: #fff;
	h1{
		font-size: 48px;
	}
}


article {
	margin:0px;
	background: #fff;

}


footer {
	text-align: center;
	background: #f00;
	height: 160px;
	padding:20px 20px;
}



/***************************
	Contents
****************************/

.contentsBtn {
 display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:90px;
	z-index: 53;

}

.contentsHeader {
	height:270px;
	width:640px;
	margin-top: -270px;
	background-image: url("../images/btnHeader.png");
	z-index:52;

}

.contentsFooter {
	height:240px;
	width:640px;
	margin-top: -90px;	
//	margin-left: auto;
//	margin-right: auto;
	background-image: url("../images/btnFooter.png");
	background-position: center;
	z-index: 51;
}

@mixin contentsXXX {
	width:640px;
	margin: -90px 0px 0px 0px;
	padding:120px 30px;
   	background-repeat: none;
	z-index: 49;
	h2{	
		font-size: 36px;
		margin-bottom: 30px; 
	}
	h3{	
		font-size: 18px; 
		line-height: 38px;
		margin-bottom: 5px; 
	}

}


/***************************
	aboutMe
****************************/
#aboutMe{
//open時
	width:640px;
	height:1260px-90px;
}

#contentsAboutMe{
	@include contentsXXX;
	background-image: url("../images/bgAboutMe.png");

//CLOSE時
	display:none;
	height:0px;
//Open時
//	display:block;
//	height:840px;


}



/***************************
	skill
****************************/
#skill{
//close時
//	height:420px;
//	background:#ff0;
//open時
	width:640px;
	height:1260px-90px;
}

#contentsSkill{
	@include contentsXXX;
	display:block;
	height:1400px;
	background-image: url("../images/bgSkill.png");

//CLOSE時
	display:none;
//	height:0px;
//Open時
//	display:block;
	height:840px;
}





/***************************
	Product
****************************/
#product{

//close時
//	height:420px;
//	background:#ff0;
//open時
	width:640px;
	height:1260px-90px;
}

#contentsProduct{
	@include contentsXXX;
	display:block;
	height:1400px;
	background-image: url("../images/bgProduct.png");

//CLOSE時
	display:none;
//	height:0px;
//Open時
//	display:block;
	height:840px;
}





 