/******************************

	全体の設定

******************************/

@charset "utf-8";
* {
  font-family:"Century","ヒラギノ明朝 Pro W3","MS P明朝",Serif;
}

html{
	min-height: 100%;
  	position: relative;
}

body {
	width:100%;
	min-height: 100%;
  	background: #fff;
	color: #888;
	font-size: 14px;
	font-weight:normal;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 14px;
	margin: 38px 0px 2px 10px;
	padding: 0px 0px 0px 0px;
}

h2 {
	font-size: 20px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}

h3 {
}

h4 {
}

h5 {
	margin: 5px 0px 10px 5px;
	padding: 0px 0px 0px 0px;
}

p {
	font-size: 18px;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
}

hr {
    border: 0px;
    height: 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    border-top: 1px solid rgba(190, 190, 190, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

a:link {
	color: #e16630;
	text-decoration: none;
}

a:visited {
	color: #e16630;
	text-decoration: none;
}
a:hover {
	color: #484848;
	text-decoration: none;
}
a:active {
	color: #484848;
	text-decoration: none;
}


/******************************

	header部分

******************************/

#wrapperHeader{
	width:100%;
	height:auto;
	background: #FFF;
	overflow: hidden;
	position: relative;

	-moz-box-shadow: 0px 3px 8px #eee;  
	-webkit-box-shadow: 0px 3px 8px #eee;
}

#header {
	width: 80%;
	margin: 0px auto;
	position: relative;
}

#header a { color: #efefef; }

#title{	
	width:100%;
	margin: 0px;
	padding: 0px;
	display:inline;
	float: left; 
}

#wrapperTitleLogo{
	width:50%;
	height:auto;
	margin: 0px;
	padding: 0px;
	float: left;
}

#wrapperTitleInfo{
	width:50%;
	height:auto;
	margin: 0px;
	padding: 0px;
	float: right;
	text-align: right;
}

#titleLogo{
	width:75%;
	height:auto;
	margin: 0px;
	padding: 0px;
}
  
#menu{	
	width:100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	clear:both;
	display:inline;
}

#menu ul{
	color: #efefef;
	font-size: 0;
	width:100%;
}

#menu li{
	width:14.28%;
	height:auto;
	display: inline-block;
	position: relative;
}

.menuListBtn_01 {
}

.menuListBtnImg{
	width:100%;
	margin: 0px;
	padding: 0px;
}

.topSlider{
	width:100%;
	margin: 0px;
	padding: 0px;

}



/******************************

	コンテンツ部分

******************************/

#wrapperContents {  
	width: 80%;  
	height:auto;
	margin: 1em auto 8em;
	position: relative;
	background: #fff;
}  

#contents {  
	width: 100%;
	margin:1em  0em 15em 0em;
	overflow: hidden;
}  

.introWrapper{
	width: 100%;
	margin:0;
	position: relative;
}

.intro {
	margin: 0px;
	width: 90%;
	text-align: center;
	line-height: 300%;
}





/******************************

	footer部分

*****************************/

#wrapperFooter {  
	width: 100%;  
	height:12em;
	background: #f6efe5;  
	position: absolute;
	bottom: 0;
}  

#footer {
	width: 80%;
	margin: 1em auto 0em;
	text-align: center;
	position: relative;
}

#footer h5{
	font-size:12px;
	display:block;
	margin:6em auto 0em;
}

#footer p{
	font-size:12px;
}

#footerMenu{	
	width:100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	clear:both;
	display:inline;
}

#footerMenu ul{
	font-size: 0;
	width:100%;
}

#footerMenu li{
	height:auto;
	display: inline-block;
	position: relative;
}

#foonterMenu p{
	width:100%;
	color:#000;
	display:block;
}


#footer a:link { color: #8a8a8a; }
#footer a:visited { color: #8a8a8a; }
#footer a:hover { color: #acacac; }
#footer a:active { color: #acacac; }






/******************************

	パーツ

******************************/


.clearfix { zoom: 1; }
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.dn{
	display:none;
}

.center { margin: 0 auto!important; }

.txtC { text-align: center;}
.txtL { text-align: left;}
.txtL { text-align: right;}


.m0    { margin: 0px !important; }
.m5    { margin: 5px !important; }
.m10   { margin: 10px !important; }
.m15   { margin: 15px !important; }
.m20   { margin: 20px !important; }
.ml0   { margin-left: 0px !important; }
.ml5   { margin-left: 5px !important; }
.ml10  { margin-left: 10px !important; }
.ml15  { margin-left: 15px !important; }
.ml20  { margin-left: 20px !important; }
.mr0   { margin-right: 0px !important; }
.mr5   { margin-right: 5px !important; }
.mr10  { margin-right: 10px !important; }
.mr15  { margin-right: 15px !important; }
.mr20  { margin-right: 20px !important; }
.mt0   { margin-top: 0px !important; }
.mt5   { margin-top: 5px !important; }
.mt10  { margin-top: 10px !important; }
.mt15  { margin-top: 15px !important; }
.mt20  { margin-top: 20px !important; }
.mb0   { margin-bottom: 0px !important; }
.mb5   { margin-bottom: 5px !important; }
.mb10  { margin-bottom: 10px !important; }
.mb15  { margin-bottom: 15px !important; }
.mb20  { margin-bottom: 20px !important; }
.mtb5 {margin: 5px 0px 5px 0px; }
.mtb10 {margin: 10px 0px 10px 0px; }
.mtb15 {margin: 15px 0px 15px 0px; }
.mtb20 {margin: 20px 0px 20px 0px; }
.mlr5 {margin: 0px 5px 0px 5px; }
.mlr10 {margin: 0px 10px 0px 10px; }
.mlr15 {margin: 0px 15px 0px 15px; }
.mlr20 {margin: 0px 20px 0px 20px; }

